<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
    <servlet-name>file_upload</servlet-name>
    <servlet-class>servlet.file_upload</servlet-class>
    </servlet>
     
    <servlet-mapping>
        <servlet-name>file_upload</servlet-name>
        <url-pattern>/file_upload</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>index_login_process</servlet-name>
    <servlet-class>servlet.index_login_process</servlet-class>
    </servlet>
     
    <servlet-mapping>
        <servlet-name>index_login_process</servlet-name>
        <url-pattern>/index_login_process</url-pattern>
    </servlet-mapping>
   
</web-app>
